$batman: #222f3e;
$gotham: #273c7591;
$koala: #30336b;
$koalamin: #30336b85;
$blood: #ff3838;
$white_light: #ffffff87;

$white: #fff;
$eb: #ebebeb;
$yoda : #01a3a4;
$deepurple :#7158e2;
$arkham: #192a56;
$love: #f27073;
$blackpearl: #38455c;
$vador: #212f3e;
$shut: #303d54;
$poseidon: #2e86de;
$joker: #424242;
